.judul {
  text-decoration: underline;
}
input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 20px;
  size: 100px;
}
button {
  color: orange;
  background: grey;
  font-size: 30px;
}
